    .backToHome
    {
        background-color: #2FBDF1;
        border: 1px solid #0DA9D0;      
    }
   .modalPopup
    {
        font-family: Arial;
        font-size: 12pt;
    }
    .modalBackground
    {
        background-color: Black;
        filter: alpha(opacity=40);
        opacity: 0.4;
    }
    .modalPopup
    {
        background-color: #FFFFFF;
        width: 300px;
        border: 3px solid #0DA9D0;
    }
    .modalPopup_confirm
{
    padding: 3cm;
    background-color: #FFFFFF;
    width: 21cm;
    border: 3px solid #0DA9D0;
}
    .modalPopup_Apply
    {
    	background-color: #FFFFFF;
    	width: 500px;
    	border: 3px solid #0DA9D0;
    }
    .modalPopup_Apply_mobile
    {
    	background-color: #FFFFFF;
    	width: 80%;
    	border: 3px solid #0DA9D0;
    }
    .header
    {
        background-color: #2FBDF1;
        height: 30px;
        color: White;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .body
    {
        min-height: 50px;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .body_Apply
    {
    	min-height: 50px;
        line-height: 30px;
        text-align: left;
        font-weight: bold;
        margin-left:5px;    	
    }
    .footer
    {
        padding: 3px;
        width:100%;
    }
    .yes,.no
    {
        height: 30px;
        width:50px;
        color: White;
        line-height: 28px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        font-size:16px;
    }
    .yes
    {
        background-color: #2FBDF1;
        border: 1px solid #0DA9D0;       
    }
    .no
    {
        background-color: #9F9F9F;
        border: 1px solid #5C5C5C;        
    }


